

<table class="scm">
	<tr>
		<th>SCM:</th>
		<td><%= repository.scm_name %></td>		
	</tr>
	<tr>
		<th>Path:</th>
		<td id="scm_url"><%= repository.url %></td>
		<td>
			<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#scm_url" title="Copy to clipboard">
				&#x1f4cb;
			</button>
                </td>
                <% if repository.url.gsub(/git@git.aiias.edu:/, 'https://git.aiias.edu/') != repository.url %>
                <td>&nbsp;or&nbsp;</td>
		<td id="http_scm_url"><%= repository.url.gsub(/git@git.aiias.edu:/, 'https://git.aiias.edu/') %></td>
		<td>
			<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#http_scm_url" title="Copy to clipboard">
				&#x1f4cb;
			</button>
                </td>
                <% end %>
	</tr>	
</table>

<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'repository', :plugin => 'redmine_scm_path_view' %>
	<%= javascript_include_tag "clipboard.min.js", :plugin => 'redmine_scm_path_view' %>	
<% end %>

<script>
	$(document).ready(function(){    
	  var clipboard = new ClipboardJS('.clipboard-btn');	  
	});
</script>
